{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}

{% block main %}

<div class="d-flex justify-content-center">

    <div class="col-4">
        <h4 class="text-center">Регистрация</h4>
        <div class="card p-3 bg-dark text-light">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success w-100" type="submit">Зарегистрироваться</button>
            </form>
            <hr>
            <p class="text-center">Есть аккаунт? </p>
            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>


        </div>
    </div>


</div>


{% endblock main %}
